.root {
  width: 80%;
  font-family: "Roboto", sans-serif;
  margin: auto;
  padding: 30px 100px;
  color: #212529;
}
.faq {
  width: 100%;
  margin-right: 20px;
}
.faq_list {
  font-size: 14px;
  text-align: justify;
  padding: 2px;
}
.faq p:hover {
  text-decoration: underline;
  color: "blue";
}

.head h2 {
  color: #2d2383;
  font-size: 26px;
  text-align: center;
  font-weight: 500;
}

.head hr {
  width: 75%;
}
.view_button {
  width: 75%;
  margin: auto;
}

.view_button p {
  font-weight: 500;
  text-align: right;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .root {
    display: flex;
  }
}
