/* * {
  padding: 0;
  margin: 0;
} */

.footer {
  font-family: "Roboto", sans-serif;
  background: #141516;
  color: #fff;
  text-align: left;
}
.footer_box {
  justify-content: space-around;
  padding: 20px 120px;
  font-size: 14px;
}
.footer_list ul li:hover {
  cursor: pointer;
  opacity: 0.8;
}
.footer_list ul li {
  list-style-type: none;
  line-height: 30px;
  margin-left: -35px;
}
.footer_list hr {
  width: 40%;
  background: #fff;
  margin-left: 0;
}
.bottom a {
  padding: 0 10px;
}
.uparrow {
  cursor: pointer;
}
.footer_part {
  justify-content: space-evenly;
  padding: "0px 150px";
}

@media only screen and (min-width: 768px) {
  .footer_box {
    display: flex;
  }
  .footer_part {
    display: flex;
  }
}
